@font-face {
    font-family: typograph-pro-semibold;
    src: url(../fonts/typograph-pro-semi-bold.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 2%;
}

#img1{
    height: 8em;
    width: auto;
}

.box-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul#header-menu {
    float: right;
  }

  ul #header-menu li {
    display: inline;
}

.nav-link{
    color:#171a1e;
    font-family: quicksand;
    font-size: large;
    font-weight: 500;
    height: 2rem;
}

#line-bottom-navbar{
    border: solid;
    border-color: #886546;
}

#gallery {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1rem;
  }


.title-brown{
    color: #886546;
    font-family: typograph-pro-semibold;
}

#first-tittle{
    font-size: xx-large;
}

#second-tittle{
    font-size: x-large;
}

.text-list{
    list-style: none;
    color: #171a1e;
    font-family: quicksand;
    font-size: large;
}

.principal-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    margin-bottom: 1rem;
  }
  
#button {
    font-family: quicksand;
    font-size: large;
    background-color:#886546;
    color:azure;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

#line-top-footer{
    border: solid;
    border-color: #886546;
    width: 100%;
}

.box-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
  }
  
  .menu-footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .menu-footer a {
    text-decoration: none;
    color: #171a1e;
  }
  
  .menu-footer a:hover {
    color: #007bff;
  }
  
  #menu-nav {
    margin-right: 0%;
  }
  
  #social-links {
    margin-left: 0%;
  }





  @media(max-width: 768px){
    #gallery{
        flex-direction: column;
        row-gap: 1rem;
    }
}